@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

section {
    display: flex;
}
section div {
    padding: 10px;
}
section div img {
    max-width: 40vw;
    max-height: 300px;
    min-width: 175px;
    border-radius: 5px;
}
#title {
    font-family: 'Sora', sans-serif;
}
h5 {
    font-family: 'Sora', sans-serif;
}
#fab {
    position: fixed;
    bottom:0;
    right: 0;
    width: 65px;
    height: 65px;
    margin: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: #fff;
    padding: 20px;
    border-radius: 100%;
    background-color: #282828;
}
#list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
li {
   min-width: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 4px;
    color: black;
    cursor: pointer;
}
li.watched {
    background-color: #33A3EC;
}
#desc {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 160px;
}