@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body {
    background-color: #4375F5;
    color: #fff;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav h6 {
    display: inline;
    margin: 7px;
}
nav i {
    cursor: pointer;
}