@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body {
    background-color: #4375F5;
    color: #fff;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav h5 {
    display: inline;
    margin: 7px;
}
nav i {
    margin: 4px;
    font-size: large;
    padding: 9px;
    cursor: pointer;
}
#bottomNav {
    position: fixed;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    background-color: #242424;
    color: #fff;
    max-width: 90%;
    width: 100%;
    border-radius: 4px;
}
#bottomNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bottomNav a {
    color: #fff;
}